@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.header-main {
  height: 10rem;
  margin: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.head-link img {
  margin: .25rem;
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.head-link h2 {
  display: inline-block;
  font-family: 'Raleway', sans-serif;

  color: white;
}

.connect-button {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px; 
  position: relative;
  width: 100%; 
  background-color: #2B3467;
}

.connect-button {
  border: 0 solid;
  box-shadow: 0 0 30px #ffffff;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.connect-button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}